.conteiner{
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.box{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}


[class*="contenet"]{
    background-color: lightgreen;
    height: 80px;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenet-1{
    width: 100%;
}

.contenet-2{
    width: 49%;
}

.contenet-3{
    width: 32%;
}

.contenet-4{
    width: 23.5%;
}

.contenet-5{
    width: 14.8%;
}

.contenet-6{
    width: 6%;
}