div{
    width: 400px;
    min-height: 250px;
    border: solid 10px green;
    margin: auto;
}

.paddingEx{
    padding-left: 30px;
    padding-top: 50px;
    box-sizing: border-box;

}

.paddingExForDiv1{
    padding: 30px 50px 70px 90px;
}