.conteiner{
    width: 700px;
    height: 350px;
    border: solid 2px black;
    background-color: rgb(233, 233, 233);
    margin: auto;
    position: relative;
}

.box1{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: red;
    z-index: 1;
}
.box2{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: green;
    z-index: 2;
}
.box3{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 120px;
    left: 120px;
    background-color: blue;
    z-index: 3;
}
.box4{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 160px;
    left: 160px;
    background-color: yellow;
    z-index: 4;
}