.table2{
    width: 500px;
    height: 300px;
    border: solid 1px;
}

.table2 thead th{
    border: solid 1px;
}



.table2 tbody td{
    width: 120px;
    height: 80px;
    border: solid 1px;
}

.table2 tfoot td{
    width: 120px;
    height: 30px;
    border: solid 1px;
    background-color: green;
}





.table3{
    width: 800px;
    height: 500px;
    border: solid 1px;
}

.table3 td{
    border: solid 1px;
}




.table4{
    width: 1000px;
    height: 500px;
    border: solid 1px;
}

.table4 td{
    border: solid 1px;
}

.table4 thead td{
    height: 125px;
}
