.table2{
    width: 500px;
    height: 300px;
    border: solid 1px;
}

.table2 th{
    border: solid 1px;
}


.table2 thead td{
    width: 120px;
    height: 80px;
    border: solid 1px;
}

.table2 tfoot td{
    width: 120px;
    height: 30px;
    background-color: green;
}
