.table2{
    width: 500px;
    height: 300px;
    border: solid 1px;
}

.table2 thead th{
    border: solid 1px;
}


.table2 tboody td{
    width: 120px;
    height: 80px;
    border: solid 1px;
}

.table2 tfoot td{
    width: 120px;
    height: 30px;
    background-color: green;
}
<<<<<<< HEAD

.table3{
    width: 800px;
    height: 500px;
    border: solid 1px;
}

.table3 td{
    border: solid 1px;
}
=======
>>>>>>> 49214b208f6de7ef880d3e4a5ae49de16eea0a10
