
.text{
    display: none;
}

.text-1{
    color: green;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
}

.conteiner{
    width: 800px;
    margin: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    margin: 15px;
    width: 90%;
    height: 45px;
    background-color: green;
    border: solid 2px red;
}

@media screen and (min-width: 850px){
    
    .text{
        display: inline;
        color: red;
    }

    .text-1{
        display: none;
    }
    .box{
        width: 18%;
        height: 45px;
        border: solid 2px green;
        background-color: red;
    }
    
    .conteiner{
        flex-direction: row;
    }
}


