.conteiner{
    border: solid 2px black;
    margin: auto;
    width: 1050px;
    height: 500px;
    background-color: silver;
    position: relative;
}


.cor1{
    width: 200px;
    height: 200px;
    
}

.cor2{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
}

.cor3{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.cor4{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.inner1{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 240px;
}

.inner2{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    left: 280px;
}
.inner3{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 320px;
}
.inner4{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 160px;
    left: 360px;
}

.inner5{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    right: 240px;
    z-index: 1;
}

.inner6{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 280px;
    z-index: 2;
}
.inner7{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    right: 320px;
    z-index: 3;
}
.inner8{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 160px;
    right: 360px;
    z-index: 4;
}




