.min_menu {

    z-index: 2;
    display: flex;
    height: 50px;
    width: 1333px;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 8px;
    justify-content: space-around;
    align-items: center;

}

.min_menu div {
    cursor: pointer;
    width: 190px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-family: 'Courier New', Courier, monospace;
}

.min_menu div:hover{
    border-bottom: solid 5px white;
}

.bg_content {

    display: flex;
    z-index: 1;
    height: 250px;
    background-image: url(Photos/1.jpg);
    position: sticky;
    top: -145px;
    justify-content: center;
    align-items: flex-end;

}
.bg_content div{
    display: flex;
    border-radius: 10px;
    margin-bottom: 6px;
    width: 550px;
    height: 35px;
    background-color: honeydew;
    border: solid 1px rgba(0, 0, 0, .3);
}

.search{
    justify-content: center;
    align-items: center;
    color: lightslategray;
}

a {
    text-decoration: none;
}

.recomended {
    width: 300px;
    margin: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;

}

.recomended div {
    background-color: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    width: 250px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.recomended div:hover{
    background-color:  gray;
}

.info {
    margin: 10px;
    text-align: center;
}

.recomended img {
    margin-top: 10px;
    width: 230px;
}

.news {
    
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .1);
    width: unset;
    text-align: left;
    text-indent: 50px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}

.news img {

    width: 562px;
    float: right;
    margin: 10px;
}

.main_content {
    display: flex;
    background-color: lightgrey;
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
