.conteiner{
    width: 750px;
    height: 100px;
    border: solid 2px black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

[class*="box"]{
    width: 120px;
    height: 60px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    background-image: linear-gradient(to right, red, green, blue);
    color: white;
    text-shadow: 4px 5px white;
}

.box-2{
    background-image: linear-gradient(to right bottom,red 50%, green, blue);
    color: white;
    text-shadow: 4px 4px yellow;
}

.box-3{
    text-shadow: 3px 3px 8px red;
    box-shadow: 7px 7px 12px red;
}

.box-4{
    text-shadow: 5px 5px 8px blue;
    box-shadow: 5px 5px black;
}

