.conteiner{
    width: 400px;
    height: 500px;
    border: solid 1px black;
    margin: auto;
    padding: 20px;
}

footer{
   display: flex;
   justify-content: center;
   align-items: center;
    margin: auto;
    border: solid 1px black;
    width: 440px;
    height: 50px;
}