table{
    width: 800px;
    min-height: 500px;
    margin: auto;
    padding: 20px;
    border: solid 1px rgba(0, 255, 0, .5);
    border-radius: 5px;
    background-color: whitesmoke;
}

.texts{
    width: 300px;
    margin-top: 10px;
}
input, textarea{
    padding: 8px;
    border: solid 1px rgba(0, 255, 0, .5);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.right_box{
    color: lightgreen;
    width: 300px;
}

.appointment{
    border-top: solid 1px lightgreen;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
}

.appointment_but{
    cursor: pointer;
    background-color: rgba(0, 255, 0, .5);
    border: none;
    color: white;
    font-size: 1.2em;
}
