
.conteiner{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

[class*="box"]{
    border-radius: 8px;
    background-color: rgb(15, 85, 109);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.col{
    width: 78.75px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-1{
    height: 600px;
}

.box-2{
    height: 297.5px;
}

.box-3{
    height: 196.6px;   
}

.box-4{
    height: 146.25px;
}

.box-5{
    height: 116px;
}

.box-6{
    height: 95.8px;
}

.box-7{
    height: 81.4px;
}

.box-8{
    height: 70.625px;
}

.box-9{
    height: 62.2px;
}

.box-10{
    height: 55.5px;
}

.box-11{
    height: 50px;
}

.box-12{
    height: 45.4px;
}