.box {
    width: 1000px;
    height: 300px;
    background-color: gray;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form1 {
    width: 200px;
    height: 90px;
    border: solid 5px green;
    background-color: yellow;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.form2 {
    width: 200px;
    height: 90px;
    border: solid 5px blue;
    background-color: yellow;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.form3 {
    width: 0;
    height: 0;
    border-color: red yellow blue green;
    border-width: 25px;
    border-style: solid;   
}